* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    background-color: #2874f0;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #d1d3d5;
}
.col1 {
    display: grid;
    margin-left: -50px;
}
.logo {
    width: 30%;
}
.logo img {
    width: 100%;   
}
.d1 {
Font-size: 11px;
Font-weight: 400;
Line-height: 15.4px;
color: rgb(240, 240, 240);
font-family: Arial, Helvetica, sans-serif;
}
.d {
    Font-size: 11px;
    Font-weight: 400;
    Line-height: 15.4px;
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar {
    width: 100%;
    max-width: 420px;
    background-color: white;
    display: flex;
    margin-right: 100px;
    margin-left: -100px;
}
.search-bar input{
    flex: 1;
    padding: 10px 10px;
    font-size: 14px;
    border: none;
    margin-left: -50px;
}
.search-bar img {
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.log {
    margin-right: 30px;
    margin-left: -95px;
}
.btn1{
    color: #2874f0;
    border: 1px solid black;
    padding: 6px 20px;
    Font-size: 16px;
    Font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
}
.dr {
    display: flex;
    color: white;
}
.d2 {
    Font-size: 16px;
    Font-weight: 500;
    Line-height: 20px;
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
    margin-right: 50px;
}
.d3 {
    Font-size: 16px;
    Font-weight: 500;
    Line-height: 20px;
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
    margin-right: 50px;
}
.d4 {
    Font-size: 16px;
    Font-weight: 500;
    Line-height: 20px;
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
    margin-left: 30px;
}
.align {
    display: flex;
}
.d1 {
    margin-right: 3px;
    font-style: italic;
}
.align i::first-line{
    color: #ecdb15;
}
.col2 {
    display: flex;
    width: 100%;
    padding-left: 30px;
    margin-top: 10px;
    border-bottom: 1px solid #d1d3d5;
    padding-bottom: 10px;
}
.top {
    width: 10%;
    padding-left: 20px;
}
.top img {
    width: 50%;
    
}
.top p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.mobiles {
    width: 10%;
    padding-right: 30px;
}
.mobiles img {
    width: 50%;
    padding-left: 20px;
}
.mobiles p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
    
}
.elect {
    width: 10%;
}
.elect img {
    width: 50%;
}
.elect p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.tv {
    width: 10%;
    padding-right: 30px;
}
.tv img {
    width: 50%;
    padding-left: 20px;
}
.tv p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.fash {
    width: 10%;
}
.fash img {
    width: 50%;
}
.fash p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.beau {
    width: 10%;

}
.beau img {
    width: 50%;
}
.beau p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.furniture {
    width: 10%;
    padding-right: 30px;
}
.furniture img {
    width: 50%;
    padding-left: 20px;
}
.furniture p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.fk {
    width: 10%;
}
.fk img {
    width: 50%;
    padding-left: 10px;
}
.fk p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.flight {
    width: 10%;
}
.flight img {
    width: 50%;
    padding-left: 10px;
}
.flight p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.gro {
    width: 10%;
}
.gro img {
    width: 50%;
    padding-right: 10px;
}
.gro p:hover {
    Font-size: 14px;
    Font-weight: 500;
    color: rgb(40, 116, 240);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.col3 {
    width: 100%;
    background-color: #f1f3f6;
}
.col3 img {
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.col4 {
    width: 100%;
}
.col4 img {
    width: 98%;
}
.col5 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    background-color: #d1d3d5;
    padding-bottom: 10px;
    
}
.image1 {
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
} 
.image1 img{
    width: 100%;
}
.image2 {
    width: 33%;
    margin-right: 10px;
} 
.image2 img{
    width: 100%;
}
.image3 {
    width: 33%;
} 
.image3 img{
    width: 100%;
    
}